<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New', new_admin_keg_path, :class => 'btn btn-default' %>
  </div>
  <h1>Admin Kegs</h1>
</div>

<table class="table-striped full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th class="center">Tapped</th>
      <th class="center">Finished</th>
    </tr>
  </thead>
  <tbody>
    <% @kegs.each do |keg| %>
    <tr>
      <td><%= link_to keg.name, [:admin, keg] %></td>
      <td class="center"><%= l(keg.started_at, format: :norm) if keg.started_at %></td>
      <td class="center"><%= l(keg.finished_at, format: :norm) if keg.finished_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>