<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New', new_admin_beer_tap_path, :class => 'btn' %>
  </div>
  <h1>Admin Taps</h1>
</div>

<ul class="unstyled">
  <% @beer_taps.each do |tap| %>
    <li><%= link_to tap.name, [:admin, tap] %>
  <% end %>
</ul>