<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit', [:edit, :admin, @beer_tap], :class => 'btn' %>
  </div>
  <h1>Admin Tap: <%= @beer_tap.name %></h1>
</div>

Put more info here!