<div class="page-header">
  <div class="pull-right"><%= link_to 'Return', [:admin, @keg], :class => 'btn btn-default' %></div>
  <h1>Pours for <%= link_to @keg.name, [:admin, @keg] %></h1>
</div>

<%= render 'admin/pours/table', pours: @pours %>

<%= paginate @pours %>
