<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Return', root_path, :class => 'btn' %>
  </div>
  <h1>Who are you?</h1>
</div>

<ul class="unstyled">
  <li><%= link_to 'New User', new_user_path %></li>
  <% @users.each do |user| %>
    <li><%= link_to user.name, pour_path(@pour, pour: {user_id: user.id}), method: 'put' %></li>
  <% end %>
</ul>