<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Return', root_path, :class => 'btn' %>
  </div>
  <h1><%= @keg.name %></h1>
</div>

<div id="temp-chart">
  <div class="loading" style="display: none;">Loading</div>
</div>

<script type="text/javascript" charset="utf-8">
  new TempChart("<%= temp_data_path %>").draw();
</script>