@font-face {
	font-family: 'StateFaceRegular';
	src: url('/webfonts/stateface-regular-webfont.eot');
	src: url('/webfonts/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('/webfonts/stateface-regular-webfont.woff') format('woff'),
		url('/webfonts/stateface-regular-webfont.ttf') format('truetype'),
		url('/webfonts/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}