*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}

.column {
  float: left;
  margin-left: 3%;
}

.column:first-child {
  margin-left: 0;
}

.column.full {
  width: 100%;
}

.column.two-thirds {
  width: 66%;
}

.column.half {
  width: 48.5%;
}

.column.one-third {
  width: 31%;
}

.column.one-fourth {
  width: 22.75%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.row {
  overflow: hidden;
}

@media (max-width: 768px) {
  .column.two-thirds, .column.one-third {
    width: 48.5%;
  }
}

@media (min-width: 769px) {
  .column.flow-opposite { float: right; }
}

@media (max-width: 380px) {
  .column.two-thirds, .column.one-third {
    width: 100%;
    margin: 0;
  }
}
