a {
  color: #428bca;
  text-decoration: none;
}

a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}

.navbar {
  color: #999999;
  background-color: black;
  padding: 10px;
  line-height: 24px;
  margin-bottom: 20px;

  .logo {
    font-size: 20px;
    line-height: 24px;
  }

  a {
    color: #999999;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;

    a {
      display: block;
      padding-right: 20px;
    }
  }
}

footer {
  margin-top: .5em;
  text-align: center;
  font-size: smaller;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  img {
    background-color: #313C66;
    vertical-align: top;
    margin-top: .5em;
  }
  span {
    display: inline-block;
    margin-left: 10px;
    text-align: left;
    vertical-align: top;
  }
}

.loading {
  text-align: center;
}

.home-tap {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  padding: 10px;
  margin-bottom: 10px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  h2, h3, h4 { margin: 0; }
}

.beer-glass {
  height: 100px;
  background-color: #f7e716;
  border: 1px solid #e1e1e8;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  text-align: center;

  .poured {
    min-height: 20px;
    max-height: 80px;
    background-color: #f7f7f9;
  }
}

.activity-feed {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  .entry {
    border-bottom: 1px solid #e1e1e8;
    padding: 10px;
  }

  .entry:last-child {
    border: none;
  }
}

.page-header {
  border-bottom: 1px solid #e1e1e8;
  padding-bottom: 10px;

  h1 { margin: 0; }
}

.table-striped {
  border-collapse: collapse;

  td, th { padding: 5px; }

  td {
    border-top: 1px solid #e1e1e8;
  }

  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
}

table#leaderboard, table#stats {
  width: 100%;
}

svg {
  .axis path {
    fill: none;
    shape-rendering: crispEdges;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .y.axis line {
    stroke-opacity: .2;
  }
}

#temp-chart {
  width: 700px;
  height: 300px;

  .loading {
    position: absolute;
    width: 700px;
    padding-top: 80px;
  }
}

#leaderboard .center {
  text-align: center;
}

.pourer {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

.pull-right {
  float: right;
}