a {
  color: #428bca;
  text-decoration: none;
}

a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}

.navbar {
  color: #999999;
  background-color: black;
  padding: 10px;
  line-height: 24px;
  margin-bottom: 20px;

  .logo {
    font-size: 20px;
    line-height: 24px;
  }

  a {
    color: #999999;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;

    a {
      display: block;
      padding-right: 20px;
    }
  }
}

footer {
  margin-top: .5em;
  text-align: center;
  font-size: smaller;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  img {
    background-color: #313C66;
    vertical-align: top;
    margin-top: .5em;
  }
  span {
    display: inline-block;
    margin-left: 10px;
    text-align: left;
    vertical-align: top;
  }
}

.loading {
  text-align: center;
}

.page-header {
  border-bottom: 1px solid #e1e1e8;
  padding-bottom: 10px;
  margin-bottom: 10px;

  h1 { margin: 0; }
}

.table-striped {
  border-collapse: collapse;

  td, th { padding: 5px; }

  td {
    border-top: 1px solid #e1e1e8;
  }

  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
}

table#leaderboard, table#stats {
  width: 100%;
}

svg {
  .axis path {
    fill: none;
    shape-rendering: crispEdges;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .y.axis line {
    stroke-opacity: .2;
  }
}

#temp-chart {
  width: 700px;
  height: 300px;

  .loading {
    position: absolute;
    width: 700px;
    padding-top: 80px;
  }
}

#leaderboard .center {
  text-align: center;
}

.center {
  text-align: center;
}

.pull-right {
  float: right;
}

.full-width {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea, select, input[type="text"], input[type="password"], input[type="datetime"], input[type="number"], input[type="email"] {
  display: inline-block;
  width: 250px;
  height: 30px;
  padding: 4px 6px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s
}

textarea {
  height: 200px;
}

.user-list {
  img {
    float: left;
  }

  .user-info {
    float: left;
    padding-left: 20px;
  }

  .user-name {
    font-size: 24px;
  }
}

.std-avatar {
  width: 50px;
  height: 50px;
}
